# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Python env
.env
.env.*
.venv
venv/

# Node
frontend/node_modules/
frontend/build/

# OS / editor
.DS_Store
*.swp

# Secrets/keys
backend/gcp-credentials.json
neural-quarter-470623-r2-e3891a759a91.json

# Misc
*.log
